@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Syne&display=swap');

body {
margin: 0;
background: #f8f4f3;
display: flex;
justify-content: center;
padding: 40px;
}

.container {
    max-width: 1000px;
    width: 100%;
    position: relative;
}

.collage {
    position: relative;
    width: 100%;
    height: 500px;
}

.collage img {
    position: absolute;
    object-fit: cover;
    border-radius: 15px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    opacity: 0.95;
    border: 2px solid #fff;
}

.collage img:nth-child(n) {
    width: 220px;
    height: 220px;
    z-index: 2;
}
.collage img:nth-child(3n) {
    width: 260px;
    height: 160px;
    z-index: 2;
}

.collage img:nth-child(2n) {
    width: 180px;
    height: 180px;
    z-index: 2;
}
.collage img:nth-child(4n) {
    width: 160px;
    height: 160px;
    z-index: 2;
}
.collage img:nth-child(5n) {
    width: 180px;
    height: 220px;
    z-index: 2;
}

#title-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px 60px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: 3;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-family: 'Fraunces', sans-serif;
    text-align: center;
    font-size: 5rem;
    color: black;
}

button {
    min-width: 142px;
    min-height: 32px;
    width: 20%;
    height: 2%;
    font-family: 'Syne';
    border: none;
    background-color: rgba(255, 228, 196,0.65);
    color: black;
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1.2;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.18);

}

p {
    font-family: 'Syne';
    color: black;
    text-align: center;
    align-self: center;
    -webkit-text-stroke: 0.01px rgba(0, 0, 0, 0.342);
}

#mood-board {
margin-top: 20px;
display: flex;
justify-content: center;
gap: 10px;
flex-wrap: wrap;
}

.screen {
padding-top: 80px;
}